

div.main
{
    border: 4px solid black;
    border-radius: 20px;
    width: 40%;
    margin: auto;
    margin-top: 20%;
    padding: 2%;
    font-size: large;
    font-weight: 500;
    background-color: rgba(210, 203, 203, 0.88);
    overflow: auto;
}
.name:hover
{
    text-decoration: underline;
}
@media screen and (max-width: 650px){
    div.main
    {
        width: 80%;
        margin: auto;
    margin-top: 40%;

    }
}